@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    /* font-family: 'Ubuntu Condensed', sans-serif; */
    font-family: 'Balsamiq Sans', cursive;
    word-spacing: 3px;
    /* background-color: #e5e7eb; */
}

html {
    background-color: #D1D5DB;
}